body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: linear-gradient(135deg, #000000, #1d0039);
  overflow-x: hidden;
}

.events-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.events-header {
  text-align: center;
  margin-bottom: 50px;
}

.events-title {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 0 0 15px #5b00b7, 0 0 30px #9b59b6;
  animation: pulse 2s infinite;
}

.events-subtitle {
  font-size: 1.5rem;
  color: #e3e3e3;
}

@keyframes pulse {
  0%,
  100% {
    text-shadow: 0 0 15px #5b00b7, 0 0 30px #9b59b6;
  }
  50% {
    text-shadow: 0 0 20px #8e44ad, 0 0 40px #5b00b7;
  }
}

.events-error {
  color: #ff4d4d;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.eventss-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.event-card {
  background: linear-gradient(135deg, #5b00b7, #000000);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(91, 0, 183, 0.7);
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
}

.event-card:hover {
  transform: perspective(1000px) rotateY(5deg);
  box-shadow: 0 20px 50px rgba(91, 0, 183, 0.9);
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #5b00b7;
}

.event-details {
  padding: 20px;
  flex-grow: 1;
}

.event-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #ffffff;
}

.event-description {
  font-size: 1.1rem;
  color: #dcdcdc;
  margin-bottom: 15px;
  line-height: 1.6;
}

.event-info {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}

.event-info span {
  display: block;
  margin-bottom: 5px;
}

.event-button {
  background: linear-gradient(135deg, #ff7e00, #ff0099);
  color: white;
  font-size: 1.2rem;
  padding: 12px 20px;
  margin-top: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 10px #ff0099;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.event-button:hover {
  background: linear-gradient(135deg, #ff0099, #ff7e00);
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff0099;
}
