nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #a020f0;
}
