* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
  color: #0a2569;
  align-items: center;
}

nav div a {
  margin-right: 1rem;
  text-decoration: none;
  color: #0a2569;
  font-size: 1rem;
}

.logo img {
  height: 40px;
  width: 200px;
}
